
@{
    ViewBag.Title = "SPtheoLoai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1 class="section-title">SẢN PHẨM</h1>
    </div>
</div>
<div class="row">
    @foreach (var sp in Model)
    {

        <div class="col-sm-6 col-md-3 text-center">
            
            <a href="@Url.Action("Details","Shoes", new {id = sp.Masp })">
                <div class="shoes__item">
                    <img alt="" src="~/Images/@sp.Anhbia" class="img-fluid w-100" style="height:300px">
                    <div class="shoes__overlay"></div>
                    <div class="shoes__detail w-100 text-center text-white">
                        <i class="fa fa-play d-block mx-auto mb-3 video-play venobox vbox-item" href="https://youtu.be/aOXvyd9v1cg" data-vbtype="video"></i>
                        <a class="d-block text-white mb-2">READ MORE</a>
                        <span>@sp.NHASAXUAT.TenNSX</span>
                    </div>
                </div>
                
                <span>
                    <p class="shoes__name text-center my-3">@sp.Tensp</p>
                </span>
            </a>
            <i class="fa fa-star shoes__star"></i>
            <i class="fa fa-star shoes__star"></i>
            <i class="fa fa-star shoes__star"></i>
            <i class="fa fa-star shoes__star"></i>
            <i class="fa fa-star shoes__star"></i>
        </div>
    }
</div>


